#yodlecms_canvas * { position: static !important; }
#yodlecms_canvas #banner, #yodlecms_canvas #banner .wrapper { height: auto; overflow: none; }
#yodlecms_canvas .images .yodlecms_widget { height: 150px !important; overflow: hidden; }
#yodlecms_canvas .steps .step { float: none; height: auto; }
#yodlecms_canvas .steps .step:before { display: none; }
#yodlecms_canvas #content { margin: 0; }
.yodlecms_formErrorDiv { border: 1px solid red; background: #FFEEEE; font-size: 12px; color: red; margin: 5px 0; padding: 5px 0; text-align: center; }
.yodlecms_formError, .error { border: 1px solid red !important; background: #FFEEEE !important; color: red !important; }
#magicTrackingPixel, #magicEventTrackingPixel, #magicPingingPixel { position: absolute; right: 0; bottom: 0; }

/* font-family: "Open Sans', serif; */

body {
	background: url(../images/main-bg.jpg) repeat left top;
	font: normal 14px/1.714em 'Open Sans', Arial, Helvetica, sans-serif; color: #333;
	width: 100%; margin: 0;
}

#errorfour {
	-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3); -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3); box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #FFF;
	width: 500px;
	margin: 200px auto 0;
	padding: 25px;
	text-align: center;
}
#errorfour h2 { font: bold 20px/1.5em Arial, Helvetica, sans-serif; }
#errorfour a { color: #660000; text-decoration: none; }
			#errorfour a:hover { text-decoration: underline; }

a { text-decoration: none; }
a img { border: 0; }
img { vertical-align: middle; }

.wrapper { width: 100%; max-width: 1000px; margin: 0 auto; }

.head-left, .head-right, .banner-left, .banner-right, .main-col, .side-col, .foot-left, .foot-mid, .foot-right, .sitemap, .programs { float: left; }
.topnav, #banner, #content, .copy-wrap { clear: both; }
.main-col, .side-col { margin-left: 2.3%; }
#header { }
.head-wrap { padding-top: 10px; }
	.head-left .txtarea h1 {
		position: relative; top: 20px;
		background: url(../images/logo.png) no-repeat left top;
		width: 283px; margin: -20px 0 0 10px; text-indent: -9999px; }
		.head-left .txtarea h1 a { display: block; height: 116px; }
.head-right { padding-top: 25px; }
	.head-right .txtarea { padding-left: 20px; text-shadow: 1px 1px 1px #f9f7e9; }
		.head-right .txtarea h2 { font-weight: 600; font-style: italic; font-size: 1.429em; line-height: 1em; color: #660000; margin: 0 0 5px; }
		.head-right .txtarea h2 span { color: #757116; }
		.head-right .txtarea p { font-size: 1.143em; line-height: 1em; color: #757116; }
	.head-right .social { float: right;  }
#header .topnav { text-align: right; }
	#header .topnav ul { margin-right: 9%; }

#banner { background: url(../images/banner-bg-rpt.png) repeat-x left top; }
.banner-wrap { background: url(../images/banner-bg.jpg) no-repeat center top; }
#banner .wrapper {
	box-shadow: 0 4px 8px rgba(0,0,0,.4);
	background: url(../images/banner-wrapper-bg.jpg) repeat-x left top; height: 322px; }
.banner-left .txtarea {
	background: url(../images/banner1.png) no-repeat left bottom;
	height: 316px; padding-left: 215px; }
	.banner-left .txtarea h2 {
		font-weight: 600; font-style: italic; font-size: 1.714em; line-height: 1em; color: #660000;
		margin: 30px 0 20px; text-shadow: 1px 1px 1px #fcf7ab; }
	.banner-left .txtarea ul { margin: 0 0 40px; }
	.banner-left .txtarea li {
		background: url(../images/icon-checkmark.png) no-repeat left top;
		font-weight: 600; font-style: italic; font-size: 1.143em; line-height: 1em; color: #757116;
		margin: 0 0 15px 25px; padding-left: 30px; text-shadow: 1px 1px 1px #fcf7ab; }
	.banner-left .txtarea p.more a {
		display: inline-block;
		border-radius: 5px;
		box-shadow: 0 2px 10px rgba(0,0,0,.25);
		background: #570f17;
		font-size: 1.286em; line-height: 40px; color: #fff9b5;
		margin: 0 0 0 90px; padding: 0 15px; text-transform: none; }
		.banner-left .txtarea p.more a:hover { background: #6d131d; color: #FFF; }
		.banner-left .txtarea p.more a:after { display: none; }
#content { z-index: 2; position: relative; margin: 0 0 -60px; }
#content .wrapper {
	border-radius: 0 0 5px 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,.4);
	background: #FFF; padding: 0 0 25px; }
.main-col { }
	.main-col .txtarea h1, .main-col .txtarea h2, .main-col .txtarea h3, .main-col .txtarea p, .main-col .txtarea ul, .main-col .txtarea ol, .main-col .txtarea blockquote, .main-col .txtarea table { margin: 0 0 20px; }
		.main-col .txtarea h1, .main-col .txtarea h2, .main-col .txtarea h3 { font-weight: bold; font-size: 2.143em; line-height: 1em; color: #660000; }
		.main-col .txtarea h2 { font-size: 1.714em; line-height: 1.2em; }
		.main-col .txtarea h3 { font-size: 1.429em; line-height: 1.5em; color: #757116; }
		.main-col .txtarea p { }
			.main-col .txtarea a { color: #660000; }
				.main-col .txtarea a:hover { text-decoration: underline; }
			.main-col .txtarea span {  }
			.main-col .txtarea strong {  }
		.main-col .txtarea ul, .main-col .txtarea ol { margin-left: 15px; }
		.main-col .txtarea ul li { list-style: square outside; margin-left: 15px; }
		.main-col .txtarea ol li { list-style: decimal outside; margin-left: 18px; }
		.main-col .txtarea blockquote {  }
			.main-col .txtarea cite { display: block; font-weight: bold; }
			.main-col .txtarea blockquote p { margin: 0 0 10px; }
		.main-col .txtarea table { }
		.main-col .txtarea img { margin: 10px; }
		.indent { margin-left: 30px; }
		.txtarea .faqs h3 { background: url(../images/icon-faq.png) no-repeat left top; padding-left: 35px; }
.side-col { margin-top: -260px; }
	.side-col h2 { font-size: 1.429em; line-height: 1em; color: #660000; }

#footer {  }
.foot-wrap { background: #410101; padding: 90px 0 30px; color: #fff9b5; }
	.foot-wrap h3 { font-weight: 600; font-size: 1em; margin: 0 0 10px; text-transform: uppercase; }
	.foot-wrap p, .foot-wrap li { font-weight: 600; font-size: .786em; line-height: 1.818em; }
	.foot-wrap a { color: #fff9b5; }
		.foot-wrap a:hover { color: #FFF; }
	.foot-left h2 {
		background: url(../images/logo-footer.png) no-repeat left top;
		width: 195px; height: 79px; text-indent: -9999px; }
	.foot-left p, .foot-left .social { display: inline-block; }
.foot-mid { margin: 0 2%; }
	.foot-right li { text-transform: uppercase; }
.copy-wrap { background: #320101; padding: 15px 0; text-align: center; }
	.copy-wrap .txtarea p { font-size: .643em; line-height: 1em; color: #fff9b5; text-transform: uppercase; }
	.copy-wrap .txtarea a { color: #fff9b5; }
		.copy-wrap .txtarea a:hover { color: #FFF; }

/* FORM */
.form-wrap {
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,.4);
	border: 1px solid #757116;
	background: #aebc21 url(../images/form-wrap-bg.png) no-repeat left bottom;
	margin: 0 0 20px; }
.contact-top { margin: 0 0 10px; }
	.contact-top h2 {
		border-radius: 5px 5px 0 0;
		border: 1px solid #5f102a;
		background: #872833 url(../images/contact-top-h2-bg.png) repeat-x left top;
		font-weight: 600; font-style: italic; font-size: 2.071em; line-height: 1.742em; color: #fff9b5;
		margin: -1px -1px 10px; text-align: center; text-shadow: 0 -1px 0 rgba(0,0,0,.75); }
	.contact-top p { font-size: .857em; line-height: 1.231em; color: #660000; margin: 0 10px; }
.contact-form { margin: 0 10px 10px; }
	.contact-form input, .contact-form textarea, .contact-form select {
		border-radius: 5px;
		border: 1px solid #f8f8f8; border-top-color: #707070; border-left-color: #707070;
		background: #f8f8f8;
		font: italic .714em/1.6em Arial, Helvetica, sans-serif; color: #555;
		width: 95%; margin: 0 0 5px; padding: 2%; }
		.contact-form input:focus, .contact-form textarea:focus, .contact-form select:focus {
			background: #F5F5F5; }
		.contact-form select { width: 100%; }
		.contact-form button.submit {
			cursor: pointer; float: right; display: block;
			border-radius: 5px;
			box-shadow: 0 0 3px rgba(0,0,0,.3);
			border: 0;
			background: url(../images/submit-btn.png) repeat-x left top;
			font: normal 1.571em/1em 'Open Sans', Arial, Helvetica, sans-serif; color: #fff9b5;
			height: 40px; text-shadow: 0 -1px 0 rgba(0,0,0,.75); }
			.contact-form button.submit:hover, .contact-form button.submit:focus { background-position: left -40px; }

/* VIDEO */
.video { margin: 0 0 20px; }
	.video h2 {
		background: url(../images/icon-video.png) no-repeat left 5px;
		font-size: 1.429em; line-height: 1em; color: #660000;
		margin: 0 0 15px; padding: 0 0 0 43px; }
	.video h2 strong { display: block; }

/* TESTIMONIAL */
.testimonial {
	background: url(../images/testimonial-img.png) no-repeat right top;
	min-height: 228px; margin: 0 0 30px; }
	.testimonial .txtarea blockquote {
		font-style: italic; font-size: .929em; line-height: 1.538em; color: #660000;
		padding-right: 45%; }
	.testimonial p.more { margin-right: -3px; text-align: right; }

/* SIDE CTA */
.side-cta .txtarea { text-transform: lowercase; }
	.side-cta h3 {
		font-size: 1.714em; line-height: 1em; color: #757116;
		margin: 0 0 10px 85px; text-indent: -85px; }
		.side-cta h3 strong { font-weight: 600; font-style: italic; font-size: 1.250em; line-height: 1em; }
		.side-cta h3 strong:first-child { font-weight: bold; font-style: normal; }
		.side-cta h3 span { color: #757116; }
	.side-cta p { font-size: 1.643em; line-height: 1em; color: #757116; }
		.side-cta p strong { font-weight: bold; font-size: 1.174em; line-height: 1em; color: #660000; }

/* MORE */
p.more a {
	display: inline-block;
	border-radius: 5px;
	background: #757116;
	font-size: 15px; line-height: 2.333em; color: #FFF;
	padding: 0 10px; text-transform: uppercase; }
	p.more a:hover { background: #928d1c; }
	p.more a:after {
		position: relative; top: 2px;
		content: url(../images/icon-arrow.png); margin: 0 0 0 10px; }

/* TOPNAV */
.topnav {
	border-radius: 5px 5px 0 0;
	border: 1px solid #5f102a;
	background: #882934 url(../images/nav-bg.png) repeat-X left top;
	width: 100%; }
	.topnav li {
		display: inline-block;
		font-weight: 600; font-size: 1em;
		margin: 10px 0 10px 5px; text-shadow: 0 -1px 0 rgba(0,0,0,.4); text-transform: uppercase; }
		.topnav li a { display: block; color: #fff9b5; line-height: 2.571em; padding: 0 10px; }
		.topnav li a:hover, .topnav ul li.on a { border-radius: 5px; background: #570f17; color: #FFF; }

/* BOTTOMNAV */
.bottomnav { margin: 0; }
	.bottomnav ul li { font-weight: 600; font-size: .786em; text-transform: uppercase; }
	.bottomnav ul li a { color: #fff9b5; }
		.bottomnav ul li a:hover, .bottomnav ul li.on a { color: #FFF; }

/* CTA */
.cta { width: 672px; margin: -55px -5px 20px; }
.cta li {
	display: inline-block;
	background: url(../images/cta-bgs.png) no-repeat left top;
	width: 154px; height: 122px; padding: 0 5px; }
	.cta li.alt { background-position: right top; }
	.cta li a {
		display: block;
		background: url(../images/clear.gif) no-repeat center 43px;
		font-weight: 500; font-size: .929em; color: #fff9b5;
		width: 140px; height: 97px; padding: 18px 9px 0; text-transform: uppercase;
		opacity: .85; }
	.cta li a:hover { color: #FFF; opacity: 1; }
	.cta li.office a { background-image: url(../images/cta-office.png); }
	.cta li.phone a { background-image: url(../images/cta-phone.png); }
	.cta li.program a { background-image: url(../images/cta-program.png); }
	.cta li.cdbook a { background-image: url(../images/cta-cdbook.png); }

/* STEPS */
.steps { border-top: 4px dotted #d4d55d; padding-top: 20px; }
	.steps .txtarea h2 { font-weight: 600; font-style: italic; font-size: 1.857em; color: #757116; margin: 0 0 20px; }
	.steps .txtarea h2 strong { font-weight: bold; color: #660000; }
	.steps .step {
		float: left; position: relative;
		border-radius: 5px;
		background: #aebc21;
		width: 28%; height: 134px; margin-left: 1.5%; padding: 2%; }
	.steps .step.alt { background: #d4d55d; }
	.steps .step.first { margin: 0; }
	.steps .step.first:before { display: none; }
	.steps .step:before {
		content: ' '; position: absolute; left: -31px; top: 33%;
		border-radius: 26px;
		background: #fff url(../images/icon-arrow-orange.png) no-repeat center center;
		width: 52px; height: 52px; }
	.step h3 {
		position: relative;
		font-weight: bold; font-style: italic; font-size: 1.24em; line-height: 1.1em; color: #660000;
		margin: 0 0 5px; padding: 0 0 0 25px; }
		.step h3 strong { position: absolute; left: 0; top: 5px; font-weight: 800; font-size: 1.667em; }
	.steps p { font-size: .929em; line-height: 1.385em; color: #660000; padding: 0 10px 0 15px; }

/* SOCIAL */
.social {  }
.social li {
	display: inline-block;
	width: 25px; margin: 0 0 0 4px; overflow: hidden; }
	.social li:first-child { margin: 0; }
	.social li a {
		display: block;
		background: url(../images/social-icons-header.png) no-repeat left top;
		color: transparent !important; height: 25px; }
	.social li.facebook a { background-position: left top; }
		.social li.facebook a:hover { background-position: left -25px; }
	.social li.twitter a { background-position: -25px top; }
		.social li.twitter a:hover { background-position: -25px -25px; }
#footer .social { margin-left: 15px; }
	#footer .social li a { background-image: url(../images/social-icons-footer.png); }

/* MAP */
.map { text-align: center; }
.map input { border: 1px solid #d0dfe9; padding: 4px; }
.map input[type="button"] { cursor: pointer; padding: 3px 4px; }

html.ie7 .topnav ul li, html.ie7 .foot-left p, html.ie7 .social, html.ie7 .social li, html.ie7 .cta li { zoom: 1; display: inline; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
span.reg:after { content:"\00AE"; font-size: 70%; vertical-align: super; }
span.copy:after { content:"\00A9"; font-size: 70%; vertical-align: super; }
span.trade:after { content:"TM"; font-size: 70%; vertical-align: super; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }